__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.lock
lib/
lib64/
.venv/
*.csv
*.xlsx
.python-version
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg 
*.csv